<p style="color: green"><%= notice %></p>

<h1>Kittens</h1>

<ul>
  <% @kittens.each do |k|%>
    <li>
    <%= link_to k.name, k %><br>
    <%= link_to "Delete", kitten_path(k), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure?'
      } %>
    </li><br>
  <% end %>
</ul>

<%= link_to "New kitten", new_kitten_path %>
